body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.container {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    margin: 0;
    max-width: unset;
    background-color: #2699FB;
    padding: 0;
}

.buttons i {
    padding-left: 1em;
}

.topnavbar i {
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.mainmap {
    width: 80%;
    margin-right: 2em;
}
.foot.navbar-dark {
    height: 15%;
}

.optionButtons {
    background: transparent url('../img/bg2.svg');
}
.button {
    background-color: #F1F9FF;
    margin: 1em;
    color: #2699FB;
    padding: 0.4em 3em 0.4em 3em;
}

.leftnavbar{
    width: 17%;
}

.foot {
    color: white;
}